/******************************************************************
Stylesheet: Variables
******************************************************************/

/*********************
COLORS
*********************/

$black:             #242424;
$white:             #ffffff;

$light-grey:        #f2f3f4;
$grey:              #506675;
$lgrey:							#eff4f6;
$font:							#161616;


$blue:							#40859b;
$orange:						#d3492f;
$red:								#e73e35;
$yellow:						#e8f01a;

$color--creazzo:		#002e70;

$green:							#42d033;
$red:								#df3b3b;


$link-color:        $black;
$link-hover:        darken($link-color, 10%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

