/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

html{
	
}

body {
	@include font-body;
	color: $font;
	-webkit-font-smoothing: antialiased;
}


/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.5;
}

img{
	display: block;
}

.gen-btn{
	background: $red;
	padding: 0.5rem 1rem;
	display: inline-block;
	color: $white;
	@include font-header;
	text-decoration: none;
	
	&:hover{
		text-decoration: none;
	}
}

.intro-text{
	padding: 3rem 0 0 0;
}




/*********************
LINK STYLES
*********************/

a, a:visited {
	//color: $link-color;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;
	margin: 0;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(25);
}

h2, .h2 {	
	@include font-size(21);
}

h3, .h3 {
	@include font-size(18);
}

h4, .h4 {
	@include font-size(16);
}

h5, .h5 {
	@include font-size(13);
}


/*********************
HEADER STYLES
*********************/

.page-header{
	background: $black;
	padding: 1rem 0;
	text-align: center;
	
	.main-logo{
		max-width: 75px;	
	}
	
	.main-menu{
		
		#menu-main-menu{
			
			li{
				@include font-header;
				
				a{
					color: $white;
					text-decoration: none;
					
					&:hover{
						text-decoration: none;
					}
				}
				
				&.current_page_parent{
					
					a{
						border-bottom: 5px solid $white;
					}
				}
			}
		}
	}
}

.flag{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 7px;
	
	li{
		width: 33.3333333%; 
		height: 7px;
		float: left;
	
		&.green{background: $green;}
		&.white{background: $white;}
		&.red{background: $red;}
	}
}


/*********************
NAVIGATION STYLES
*********************/


#homepage{
	padding: 1rem 0;
	text-align: center;

	.carousel{
		width: 100%;
		height: 200px;
		@include back-size(cover);
		background-position: center center;
		background-repeat: no-repeat;
		
		.carousel-intro{
			text-align: left;
			width: 50%;
			float: right;
			padding-top: 30px;
			
			h2{
				font-size: 1.2rem;
				color: $white;
				margin: 0 0 0.2rem 0;
			}
			
			p{
				margin: 0 0 0.2rem 0;
				line-height: normal;
			}
		}
		
		.offer{
			display: none;
		}
	}

	.products{
		margin: 0;
		
		li{
			//position: relative;
			margin: 0;
			
			img{
				margin: 0;
				@include box-shadow(0,0,0,0);
			}
			
			h3{
				// position: absolute;
				// top: 20px;
				// left: 20px;
				padding: 0;
				background: $white;
				padding: 5px 10px;
			
				.count{
					background: transparent;
				}
			}
		}
	}
}



/*********************
SIDEBARS & ASIDES
*********************/

#outer-wrap{
	padding: 0 0 2rem 0;
	
	#kitpage,
	.page,
	#container{
	padding-top: 2rem;
	}
}



/*********************
FOOTER STYLES
*********************/

.page-footer{
	background: $black;
	padding: 1rem 0;
	text-align: center;
	
	p{
		color: $white;
	}
	
	.social-links{
		padding: 0;
		margin: 0;
		text-align: center;
		
		li{
			display: inline-block;
			font-size: 2.2rem;
			margin-right: 1rem;
			text-align: center;
				
			a{
				color: $white;
				text-decoration: none;	
			}
		}
	}
}

	