/******************************************************************
Stylesheet: Base Stylesheet
******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none;
}

small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix, .cf {
  zoom: 1;
}

.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}

.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/******************************************************************
Stylesheet: Variables
******************************************************************/
/*********************
COLORS
*********************/
/******************************************************************
Stylesheet: Mixins Stylesheet
******************************************************************/
/*********************
FONTS
*********************/
/*********************
TRANSITIONS
*********************/
/*********************
BORDER RADIUS
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
BACKGROUND SIZE
*********************/
/******************************************************************
Stylesheet: Typography
******************************************************************/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Stylesheet: Forms
******************************************************************/
form label {
  display: block;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  border: 1px solid #e4e6e8;
  border: 0.0625rem solid #e4e6e8;
  padding: 13px;
  padding: 0.8rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: normal;
  font-size: 10px;
  font-size: 1rem;
}

form #submit,
form #searchsubmit {
  border: 1px solid #f2f3f4;
  border: 0.0625rem solid #f2f3f4;
  padding: 13px 24px;
  padding: 0.8rem 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: normal;
  font-size: 10px;
  font-size: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f2f3f4;
  color: #506675;
}

form #submit:hover,
form #searchsubmit:hover {
  background: #e4e6e8;
}

/*********************
IMPORTING F10 stylesheet
*********************/
/*********************
IMPORTING MEDIA QUERIES
*********************/
/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: normal;
  color: #161616;
  -webkit-font-smoothing: antialiased;
  background: #eaeef2;
}

/*********************
LAYOUT & GRID STYLES
*********************/
p {
  line-height: 1.5;
}

img {
  display: block;
}

.gen-btn {
  background: #df3b3b;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}

.gen-btn:hover {
  text-decoration: none;
}

.intro-text {
  padding: 3rem 1rem 0 1rem;
}

/*********************
LINK STYLES
*********************/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: normal;
  text-rendering: optimizelegibility;
  margin: 0;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 25px;
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 21px;
  font-size: 2.1rem;
}

h3, .h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 13px;
  font-size: 1.3rem;
}

/*********************
HEADER STYLES
*********************/
.page-header {
  background: #002e70;
  padding: 1rem 0;
  text-align: left;
  position: relative;
}

.page-header .logo-link {
  display: inline-block;
  margin-left: 1rem;
}

.page-header .logo-link .main-logo {
  max-width: 75px;
  display: inline-block;
}

.page-header #toggle {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  color: #ffffff;
  position: absolute;
  right: 35px;
  top: 30px;
  text-indent: -9999px;
  z-index: 100000;
}

.page-header #toggle span:after,
.page-header #toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.page-header #toggle span:after {
  top: 9px;
}

.page-header #toggle span {
  position: absolute;
  display: block;
  top: 23px;
  left: 10px;
}

.page-header #toggle span,
.page-header #toggle span:after,
.page-header #toggle span:before {
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  backface-visibility: hidden;
}

.page-header .main-menu {
  display: none;
}

.page-header .main-menu #menu-main-menu {
  text-align: center;
}

.page-header .main-menu #menu-main-menu li {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: normal;
}

.page-header .main-menu #menu-main-menu li a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #00193d;
  display: block;
  padding: 0.5rem 0;
}

.page-header .main-menu #menu-main-menu li a:hover {
  text-decoration: none;
}

.page-header .main-menu #menu-main-menu li .sub-menu {
  margin: 0;
}

.page-header .main-menu #menu-main-menu li .sub-menu li a {
  color: #999;
}

.flag {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7px;
}

.flag li {
  width: 33.3333333%;
  height: 7px;
  float: left;
}

.flag li.green {
  background: #42d033;
}

.flag li.white {
  background: #ffffff;
}

.flag li.red {
  background: #df3b3b;
}

/*********************
NAVIGATION STYLES
*********************/
#homepage {
  text-align: center;
}

#homepage .carousel {
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#homepage .carousel .carousel-intro {
  text-align: left;
  width: 50%;
  float: right;
  padding-top: 30px;
}

#homepage .carousel .carousel-intro h2 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 0 0.2rem 0;
}

#homepage .carousel .carousel-intro p {
  margin: 0 0 0.2rem 0;
  line-height: normal;
}

#homepage .carousel .offer {
  display: none;
}

#homepage .products {
  margin: 0;
}

#homepage .products li {
  margin: 0;
  padding-bottom: 30px;
}

#homepage .products li img {
  margin: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

#homepage .products li h3 {
  padding: 0;
  background: #ffffff;
  padding: 5px 10px;
  color: #242424;
}

#homepage .products li h3 .count {
  display: none;
}

.promo-panels {
  margin-bottom: 1rem;
}

.promo-panels .promo-copy {
  background: #ffffff;
  padding: 0 1rem;
  display: table-cell;
  vertical-align: middle;
}

.promo-panels .promo-copy h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.promo-panels .promo-copy p {
  font-size: 0.8rem;
  color: #8e9197;
}

.promo-panels .promo-copy a {
  background: #e1ba1f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.promo-panels .promo-copy a:hover {
  background: #cba81b;
}

.promo-panels .promo-img {
  position: relative;
}

.promo-panels .promo-img img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

.promo-panels .promo-img .marker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -20px;
}

.bxslider {
  margin: 0;
}

.bxslider .slide {
  position: relative;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.bxslider .slide .colour-wash {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: #b3b3b3;
  background-color: rgba(0, 0, 0, 0.3);
}

.bxslider .slide .slide-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.bxslider .slide .slide-content {
  text-align: center;
  width: 100%;
  padding: 5rem 0.5rem 0 0.5rem;
  position: relative;
  z-index: 3;
}

.bxslider .slide .slide-content h2 {
  font-size: 1rem;
  color: #ffffff;
  margin: 0 auto 0.5rem auto;
  text-transform: uppercase;
  width: 90%;
}

.bxslider .slide .slide-content p {
  margin: 0 auto 1rem auto;
  line-height: normal;
  color: #ffffff;
  width: 80%;
}

.bxslider .slide .slide-content p a {
  background: #e1ba1f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.bxslider .slide .slide-content p a:hover {
  background: #cba81b;
}

/* Creazzo Custom */
.customWrap {
  background: #ffffff;
  padding: 0.5rem;
}

.customWrap .customHeader h2 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 5px solid #f5f3f3;
  border-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 0.5rem;
}

.customWrap .customHeader h2:after {
  content: '';
  width: 100px;
  height: 4px;
  background: #eeebeb;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -50px;
}

.customWrap .customImg {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: auto;
}

.customWrap .customIntro {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}

.customWrap .customForm p, .customWrap .customForm ul {
  border: 3px solid black;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
}

.customWrap .customForm .title {
  margin-bottom: 0.5rem;
  display: block;
}

.customWrap .orderTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.customWrap .customOrderForm_wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}

.customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield {
  width: 100%;
}

.customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield label {
  display: none;
}

.customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield input {
  border: 3px solid black;
  padding: 0.5rem;
  width: 100%;
}

.customWrap .customOrderForm_wrapper .gform_footer {
  margin-top: 0;
}

.customWrap .customOrderForm_wrapper .gform_footer .button {
  width: 100%;
  color: #ffffff;
  border: 0;
  background: #f13b1d;
}

.customWrap .customOrderForm_wrapper .gform_footer .button:hover {
  background: #e62d0e;
}

.gform_confirmation_wrapper .gform_confirmation_message {
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid #778384;
  background: #d8e5e6;
  border-radius: 3px;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
  border: 3px solid black;
  padding: 0.5rem;
  height: 45px;
  background: #ffffff;
  width: 100% !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*********************
WOOCOMMERCE
*********************/
.woocommerce .woocommerce-breadcrumb {
  margin-top: 1em;
}

.woocommerce .entry-summary .product_title {
  font-size: 20px;
}

.woocommerce .related {
  margin-top: 2rem;
}

.woocommerce .related h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.woocommerce div.product div.images, .woocommerce div.product div.summary {
  margin-bottom: 0;
}

.products .type-product {
  border: 1px solid #d8d8d8;
  text-align: center;
  padding: 5px !important;
}

.products .type-product a h3 {
  color: #242424;
}

.woocommerce ul.products li.product a span, .woocommerce-page ul.products li.product a span,
.woocommerce ul.products li.product a span:hover, .woocommerce-page ul.products li.product a span:hover,
.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a,
.woocommerce ul.products li.product a:hover, .woocommerce-page ul.products li.product a:hover,
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a img:hover, .woocommerce-page ul.products li.product a img:hover {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button {
  border: none;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: normal;
  background-color: #42d033;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42d033), to(#42d033));
  background-image: -webkit-linear-gradient(top, #42d033, #42d033);
  background-image: -moz-linear-gradient(top, #42d033, #42d033);
  background-image: -o-linear-gradient(top, #42d033, #42d033);
  background-image: linear-gradient(to bottom, #42d033, #42d033);
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.woocommerce ul.products li.product a.button:hover, .woocommerce-page ul.products li.product a.button:hover {
  background-color: #33a927;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33a927), to(#33a927));
  background-image: -webkit-linear-gradient(top, #33a927, #33a927);
  background-image: -moz-linear-gradient(top, #33a927, #33a927);
  background-image: -o-linear-gradient(top, #33a927, #33a927);
  background-image: linear-gradient(to bottom, #33a927, #33a927);
}

.related:before {
  content: '';
  display: block;
  clear: both;
}

.images .wp-post-image,
.thumbnails .attachment-shop_thumbnail {
  border: 1px solid #d8d8d8;
}

.woocommerce div.product form.cart .button {
  background: #42d033;
  padding: 1em 1.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.woocommerce div.product form.cart .button:hover {
  background: #33a927;
}

.woocommerce .quantity .qty {
  padding: 0.8em;
}

/*********************
NEWS STYLES
*********************/
.newsWrap {
  margin-top: 0;
}

.newsWrap h2 {
  margin-bottom: 1rem;
}

.newsWrap .post {
  border-top: 1px solid #c2c2c2;
  padding-top: 1rem;
}

.newsWrap .post .article-header h3 {
  margin-bottom: 1rem;
}

.newsWrap .post .entry-content .postThumbnail {
  display: block;
  width: 100%;
  height: auto;
}

/*********************
SIDEBARS & ASIDES
*********************/
#main-sidebar {
  margin-top: 1rem;
}

#main-sidebar h2 {
  font-size: 1.2rem;
}

#main-sidebar .widget {
  margin-bottom: 1rem;
}

#main-sidebar .widget .product-categories .cat-item {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main-sidebar .widget .product-categories .cat-item a {
  display: inline-block;
  background: #eff4f6;
  color: #242424;
  padding: 0.7rem 1rem;
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid #d8d8d8;
}

#main-sidebar .widget .product-categories .cat-item a:hover {
  background: #df3b3b;
  color: #ffffff;
}

#main-sidebar .widget .product-categories .cat-item a:hover a {
  color: #ffffff;
}

#main-sidebar .widget .product-categories .cat-item.cat-parent a {
  margin: 0;
  border-bottom: none;
}

#main-sidebar .widget .product-categories .cat-item .children {
  margin: 0;
}

#main-sidebar .widget .product-categories .cat-item .children li a {
  border-top: 0;
  padding-left: 1.5rem;
  background: #dfe9ed;
  border-bottom: 1px solid #d8d8d8;
}

#main-sidebar .widget .product-categories .cat-item .children li a:hover {
  background: #df3b3b;
  color: #ffffff;
}

#main-sidebar .widget .product-categories .cat-item .children li a:hover a {
  color: #ffffff;
}

#main-sidebar .widget .product-categories .cat-item .count {
  display: none;
}

#main-sidebar .woocommerce-product-search label {
  display: block;
}

#main-sidebar .woocommerce-product-search .search-field {
  -webkit-appearance: none;
  border: none;
  width: 64%;
  border: 1px solid #d8d8d8;
  padding: 0.7rem 3%;
  font-size: 15px;
  float: left;
  background: #eff4f6;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#main-sidebar .woocommerce-product-search input[type="submit"] {
  border: none;
  width: 29%;
  border: 1px solid #242424;
  padding: 0.7rem 0;
  font-size: 15px;
  background: #242424;
  color: #ffffff;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#main-sidebar .woocommerce-product-search input[type="submit"]:hover {
  background: #df3b3b;
  border: 1px solid #df3b3b;
}

#outer-wrap {
  padding: 0 0 2rem 0;
}

#outer-wrap #kitpage {
  padding-top: 1em;
}

#outer-wrap #kitpage .intro-text {
  padding-top: 1rem;
}

#outer-wrap #kitpage .intro-text h1 {
  font-size: 28px;
  margin-bottom: 1rem;
}

#outer-wrap #kitpage .intro-text h2 {
  font-size: 18px;
  margin-bottom: 1rem;
}

#outer-wrap #kitpage .intro-text h3 {
  font-size: 16px;
  margin-bottom: 0.2rem;
}

#outer-wrap #kitpage .intro-text p {
  margin: 0 0 1.5rem 0;
}

#outer-wrap #contactpage .intro-text h1 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

#outer-wrap #contactpage .intro-text h3 {
  font-size: 20px;
  margin: 1rem 0 0.2rem 0;
}

#outer-wrap #contactpage .intro-text h4 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: normal;
  color: #242424;
}

#outer-wrap #contactpage .intro-text p {
  margin: 0 0 1rem 0;
}

#outer-wrap #contactpage .cntctfrm_contact_form {
  margin-top: 2rem;
}

#outer-wrap .contact-btn {
  background: #df3b3b;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  display: inline-block;
}

#outer-wrap .contact-btn:hover {
  background: #c72020;
}

/*********************
FOOTER STYLES
*********************/
.page-footer {
  background: #242424;
  padding: 1rem 0;
  text-align: center;
}

.page-footer p {
  color: #ffffff;
}

.page-footer .social-links {
  padding: 0;
  margin: 0;
  text-align: center;
}

.page-footer .social-links li {
  display: inline-block;
  font-size: 2.2rem;
  margin-right: 1rem;
  text-align: center;
}

.page-footer .social-links li a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 642px) {
  /******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LINK STYLES
*********************/
  .promo-panels .promo-img .marker {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    margin-top: -20px;
  }
  .promo-panels .even-block .promo-img .marker {
    left: inherit;
    right: 0;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff transparent transparent;
  }
  /*********************
LAYOUT & GRID STYLES
*********************/
  #outer-wrap {
    padding: 0 0 2rem 0;
  }
  #outer-wrap #kitpage,
  #outer-wrap .page,
  #outer-wrap #container {
    padding-top: 2rem;
  }
  /*********************
HEADER STYLES
*********************/
  .page-header .main-menu {
    text-align: right;
    padding-top: 15px;
  }
  .page-header .main-menu #menu-main-menu {
    padding: 0;
    margin: 0;
  }
  .page-header .main-menu #menu-main-menu li {
    display: inline-block;
  }
  .main-menu ul ul {
    display: none;
  }
  .main-menu ul li:hover > ul {
    display: block;
  }
  .main-menu ul {
    list-style: none;
    position: relative;
    display: inline-table;
  }
  .main-menu ul:after {
    content: "";
    clear: both;
    display: block;
  }
  .main-menu ul li {
    float: left;
    text-align: left;
    display: block !important;
  }
  .main-menu ul li.current_page_parent,
  .main-menu ul li.current-menu-item,
  .main-menu ul li:hover {
    background: #002457;
  }
  .main-menu ul li:hover a {
    color: #ffffff;
  }
  .main-menu ul li a {
    display: block;
    padding: 15px !important;
    color: #ffffff;
    text-decoration: none;
  }
  .main-menu ul ul {
    background: #002457;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 2;
  }
  .main-menu ul ul li {
    float: none;
    /* border-top: 1px solid lighten($red, 10%); */
    /* border-bottom: 1px solid darken($red, 10%); */
    position: relative;
  }
  .main-menu ul ul li a {
    padding: 0;
    color: #ffffff !important;
  }
  .main-menu ul ul li a:hover {
    background: #00193d;
  }
  .main-menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  .bxslider .slide {
    height: 300px;
  }
  /*********************
SIDEBARS & ASIDES
*********************/
  #main-sidebar {
    margin-top: 2rem;
  }
  #main-sidebar .widget {
    margin-bottom: 1rem;
  }
  #main-sidebar .widget .product-categories .cat-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  #main-sidebar .widget .product-categories .cat-item a {
    background: #eff4f6;
    padding: 0.7rem 1rem;
  }
  #main-sidebar .widget .product-categories .cat-item a:hover {
    text-decoration: none;
  }
  #main-sidebar #searchform #s {
    width: 70%;
  }
  #main-sidebar #searchform #searchsubmit {
    width: 30%;
  }
  /*********************
FOOTER STYLES
*********************/
}

@media only screen and (min-width: 768px) {
  /******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LINK STYLES
*********************/
  a {
    color: #242424;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:hover, a:focus {
    color: #313131;
    text-decoration: underline;
  }
  .gen-btn {
    padding: 1rem 1.5rem;
  }
  /*********************
LAYOUT & GRID STYLES
*********************/
  .intro-text {
    padding: 5rem 0;
  }
  .newsWrap {
    margin-top: 2rem;
  }
  .newsWrap h2 {
    margin-bottom: 2rem;
  }
  .newsWrap .post {
    padding-top: 2rem;
  }
  .newsWrap .post .entry-content .postThumbnail {
    width: 175px;
    float: left;
    margin-right: 20px;
  }
  /*********************
HEADER STYLES
*********************/
  .page-header {
    padding: 1.5rem 0;
    text-align: inherit;
    background: url(../images/general/header-background.png) left top repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .page-header .logo-link .main-logo {
    max-width: 80px;
  }
  .page-header #toggle {
    display: none;
  }
  .page-header .main-menu {
    display: block;
  }
  .page-header .main-menu #menu-main-menu {
    padding-top: 10px;
  }
  .page-header .main-menu #menu-main-menu li a {
    border-bottom: none;
  }
  /*********************
NAVIGATION STYLES
*********************/
  #homepage .carousel {
    height: 450px;
  }
  #homepage .carousel .carousel-intro {
    text-align: left;
    width: 40%;
    float: right;
    padding-top: 90px;
  }
  #homepage .carousel .carousel-intro h2 {
    font-size: 3rem;
    margin: 0 0 0.7rem 0;
    line-height: 1;
  }
  #homepage .carousel .carousel-intro p {
    margin: 0 0 0.7rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  #homepage .carousel .offer {
    display: none;
  }
  #homepage .products {
    margin: 0;
  }
  #homepage .last-product .products li {
    border-right: none;
  }
  .related h2 {
    margin: 0 0 1rem 0;
  }
  .related .products {
    width: 100%;
  }
  .related .products li.product {
    width: 24% !important;
    margin: 0 1% 0 0 !important;
  }
  .bxslider .slide {
    height: 400px;
  }
  .bxslider .slide .slide-content {
    padding-top: 8rem;
  }
  .bxslider .slide .slide-content h2 {
    font-size: 1.8rem;
  }
  .bxslider .slide .slide-content p {
    font-size: 1.2rem;
  }
  /* Creazzo Custom */
  .customWrap {
    background: #ffffff;
    padding: 0.5rem;
  }
  .customWrap .customHeader h2 {
    font-size: 1.8rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
  .customWrap .customHeader h2:after {
    width: 150px;
    height: 5px;
    margin-left: -75px;
  }
  .customWrap .customImg {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
  }
  .customWrap .customIntro {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  .customWrap .customForm p, .customWrap .customForm ul {
    border: 3px solid black;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
  }
  .customWrap .orderTitle {
    padding: 1rem 0;
  }
  .customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield {
    width: 49%;
    float: left;
    clear: none;
    margin-right: 1%;
  }
  .customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield input {
    border: 3px solid black;
    padding: 0.7rem;
  }
  .customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield:nth-child(2n+2) {
    margin-right: 0;
    float: right;
    margin-left: 1%;
  }
  .customWrap .customOrderForm_wrapper .customOrderForm .gform_fields .gfield:nth-child(2n+2):after {
    content: "";
    display: table;
    clear: both;
  }
  .customWrap .customOrderForm_wrapper .gform_footer {
    margin-top: 0;
  }
  .customWrap .customOrderForm_wrapper .gform_footer .button {
    width: 49%;
    color: #ffffff;
    border: 0;
    background: #f13b1d;
  }
  .customWrap .customOrderForm_wrapper .gform_footer .button:hover {
    background: #e62d0e;
  }
  body .gform_wrapper .gform_body .gform_fields .gfield select {
    height: 49px;
  }
  #outer-wrap #kitpage {
    padding-top: 1em;
  }
  #outer-wrap #kitpage .intro-text {
    padding-top: 1rem;
  }
  #outer-wrap #kitpage .intro-text h1 {
    font-size: 32px;
    margin: 1rem 0;
  }
  #outer-wrap #kitpage .intro-text h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  #outer-wrap #kitpage .intro-text h3 {
    font-size: 20px;
  }
  #outer-wrap #contactpage .intro-text h1 {
    font-size: 32px;
  }
  #outer-wrap #contactpage .intro-text h3 {
    font-size: 20px;
    margin: 1rem 0 0.2rem 0;
  }
  #outer-wrap #contactpage .intro-text p {
    margin: 0 0 1rem 0;
  }
  #outer-wrap #contactpage .cntctfrm_contact_form {
    margin-top: 0;
  }
  #outer-wrap .contact-btn {
    padding: 1rem 1.4rem;
  }
  /*********************
SIDEBARS & ASIDES
*********************/
  #main-sidebar {
    margin-top: 2rem;
  }
  #main-sidebar h2 {
    font-size: 1.3rem;
  }
  /*********************
FOOTER STYLES
*********************/
  .page-footer {
    padding: 2rem 0;
  }
  .page-footer p {
    text-align: left;
  }
  .page-footer .social-links {
    text-align: right;
  }
}

@media only screen and (min-width: 1030px) {
  /******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  .promo-panels .promo-copy {
    padding: 0 3.5rem;
  }
  .promo-panels .promo-copy h3 {
    font-size: 1.4rem;
  }
  .promo-panels .promo-copy p {
    font-size: 1rem;
  }
  /*********************
LAYOUT & GRID STYLES
*********************/
  .bxslider .slide {
    height: 500px;
  }
  .bxslider .slide .slide-content {
    padding-top: 10rem;
  }
  .bxslider .slide .slide-content h2 {
    font-size: 2.4rem;
    margin-bottom: 0.7rem;
    line-height: 1;
    width: 60%;
  }
  .bxslider .slide .slide-content p {
    margin-bottom: 0.7rem;
    line-height: 1.5;
    font-size: 1.2rem;
    max-width: 50%;
  }
  /*********************
HEADER STYLES
*********************/
  /*********************
NAVIGATION STYLES
*********************/
  /*********************
SIDEBARS & ASIDES
*********************/
  /*********************
FOOTER STYLES
*********************/
}

@media only screen and (min-width: 1240px) {
  /******************************************************************
Stylesheet: Super Large Monitor Stylesheet
******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  /*********************
HEADER STYLES
*********************/
  /*********************
NAVIGATION STYLES
*********************/
  /*********************
SIDEBARS & ASIDES
*********************/
  /*********************
FOOTER STYLES
*********************/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Stylesheet: Retina Screens & Devices Stylesheet
******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}

@media print {
  /******************************************************************
Stylesheet: Print Stylesheet
******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */