/******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/


.promo-panels{
	
	.promo-copy{
		padding: 0 3.5rem;
		
		h3{
			font-size: 1.4rem;
		}
		
		p{
			font-size: 1rem;
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.bxslider{
	
	.slide{
		height: 500px;
		
		.slide-content{
			padding-top: 10rem;
			
			h2{
				font-size: 2.4rem;
				margin-bottom: 0.7rem;
				line-height: 1;
				width: 60%;
			}
			
			p{
				margin-bottom: 0.7rem;
				line-height: 1.5;
				font-size: 1.2rem;
				max-width: 50%;
			}
		}
	}
}


/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/