/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/


.promo-panels{
	
	.promo-img{
		
		.marker{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 0 20px 20px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			top: 50%;
			left: 20px;
			z-index: 1;
			margin-top: -20px;
		}
	}
	
	.even-block{
		
		.promo-img{
		
			.marker{
				left: inherit;
				right: 0;
				border-width: 20px 20px 20px 0;
				border-color: transparent #fff transparent transparent ;
			}
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

#outer-wrap{
	padding: 0 0 2rem 0;
	
	#kitpage,
	.page,
	#container{
		padding-top: 2rem;
	}
}


/*********************
HEADER STYLES
*********************/

.page-header{
	
	.main-menu{
		text-align: right;
		padding-top: 15px;
		
		#menu-main-menu{
			padding: 0;
			margin: 0;
			
			li{
				display: inline-block;
				
				a{
					
					&:hover{
					}	
				}
			}
		}
	}
}

.main-menu ul ul {
	display: none;
}

.main-menu ul li:hover > ul {
	display: block;
}

.main-menu ul {
	list-style: none;
	position: relative;
	display: inline-table;
}
.main-menu ul:after {
	content: ""; clear: both; display: block;
}

.main-menu ul li {
	float: left;
	text-align: left;
	display: block !important;
}

.main-menu ul li.current_page_parent,
.main-menu ul li.current-menu-item,
.main-menu ul li:hover {
	background: darken($color--creazzo, 5%);
}

.main-menu ul li:hover a {
	color: $white;
}

.main-menu ul li a {
	display: block; padding: 15px !important;
	color: $white; text-decoration: none;
}
	
.main-menu ul ul {
	background: darken($color--creazzo, 5%); padding: 0; margin: 0;
	position: absolute; top: 100%; z-index: 2;
}
.main-menu ul ul li {
	float: none; 
	/* border-top: 1px solid lighten($red, 10%); */
	/* border-bottom: 1px solid darken($red, 10%); */ position: relative;
}

.main-menu ul ul li a {
	padding: 0;
	color: $white !important;
}
	
.main-menu ul ul li a:hover {
	background: darken($color--creazzo, 10%);
}

.main-menu ul ul ul {
	position: absolute; left: 100%; top:0;
}


.bxslider{
	
	.slide{
		height: 300px;
		
		.slide-content{
			//padding: 1rem;
		}
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

#main-sidebar{
	margin-top: 2rem;
	
	.widget{
		margin-bottom: 1rem;
		
		.product-categories{
			
			.cat-item{
				width: 100%;
				margin-bottom: 0.5rem;
					
				a{
				background: $lgrey;
				padding: 0.7rem 1rem;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
	
	#searchform{
	
		#s{
			width: 70%;
		}
		
		#searchsubmit{
			width: 30%;
		}
	}
}



/*********************
FOOTER STYLES
*********************/





