/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: lighten($link-hover, 15%);
		text-decoration: underline;
	}

	&:active {

	}
}

.gen-btn{
	padding: 1rem 1.5rem;
	
	&:hover{
	}
}






/*********************
LAYOUT & GRID STYLES
*********************/

.intro-text{
	padding: 5rem 0;
}

.newsWrap{
	margin-top: 2rem;
	
	h2{
		margin-bottom: 2rem;
	}
	
	.post{
		padding-top: 2rem;
		
		.article-header{
			
			h3{
				
				a{
					
				}
			}
		}
		
		.entry-content{
			
			.postThumbnail{
				width: 175px;
				float: left;
				margin-right: 20px;
			}
		}
	}
}

/*********************
HEADER STYLES
*********************/

.page-header{
	padding: 1.5rem 0;
	text-align: inherit;
	background: url(../images/general/header-background.png) left top repeat;
	@include back-size();
	
	.logo-link{
		
		.main-logo{
			max-width: 80px;	
		}
	}
	
	#toggle{
		display: none;
	}
	
	.main-menu{
		display: block;
		
		#menu-main-menu{
			padding-top: 10px;
			li{
				
				a{
					border-bottom: none;
				}
			}
		}
	}
}





/*********************
NAVIGATION STYLES
*********************/

#homepage{
	padding: 2rem 0;

	.carousel{
		height: 450px;
		
		.carousel-intro{
			text-align: left;
			width: 40%;
			float: right;
			padding-top: 90px;
			
			h2{
				font-size: 3rem;
				margin: 0 0 0.7rem 0;
				line-height: 1;
			}
			
			p{
				margin: 0 0 0.7rem 0;
				line-height: 1.5;
				font-size: 1.2rem;
			}
		}
		
		.offer{
			display: none;
		}
	}
	
	.products{
		margin: 0;
		
		li{
			
		}
	}
	
	.last-product{
		
		.products{
			
			li{
				border-right: none;
				img{}
				
			}
		}
	}
}


.related{
	
	h2{
	margin: 0 0 1rem 0;
	
	}
	
	.products{
		width: 100%;
		
		li.product{
			width: 24% !important;
			margin: 0 1% 0 0 !important;
		}
	}
}

.bxslider{
	
	.slide{
		height: 400px;
		
		.slide-content{
			padding: 1.5rem;
			width: 30%;
			bottom: inherit;
			top: 50px;
			left: 50px;
				
			h2{
				font-size: 1.8rem;
			}
			
			p{
				font-size: 1.2rem;
			}
		}
	}
}

#outer-wrap{
	
	#kitpage{
		padding-top: 1em;
		
		.intro-text{
			padding-top: 1rem;
			
			h1{
				font-size: 32px;
				margin: 1rem 0;
			}
			
			h2{
				font-size: 24px;
				margin-bottom: 1rem;
			}
			
			h3{
				font-size: 20px;
			}
			
			p{
			}
		}
	}
	
	#contactpage{
		
		.intro-text{
			
			h1{
				font-size: 32px;
			}
			
			h3{
				font-size: 20px;
				margin: 1rem 0 0.2rem 0;
			}
			
			p{
				margin: 0 0 1rem 0;
			}
		}
		
		.cntctfrm_contact_form{
			margin-top: 0;
		}
	}
	
	.contact-btn{
		padding: 1rem 1.4rem;
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

#main-sidebar{
	margin-top: 2rem;
	
	h2{
		font-size: 1.3rem;
	}
}



/*********************
FOOTER STYLES
*********************/

.page-footer{
	padding: 2rem 0;
	
	p{
		text-align: left;
	}
	
	.social-links{
		text-align: right;
	}
}



