/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: lighten($link-hover, 15%);
		text-decoration: underline;
	}

	&:active {

	}
}

.gen-btn{
	padding: 1rem 1.5rem;
	
	&:hover{
	}
}






/*********************
LAYOUT & GRID STYLES
*********************/

.intro-text{
	padding: 5rem 0;
}

.newsWrap{
	margin-top: 2rem;
	
	h2{
		margin-bottom: 2rem;
	}
	
	.post{
		padding-top: 2rem;
		
		.article-header{
			
			h3{
				
				a{
					
				}
			}
		}
		
		.entry-content{
			
			.postThumbnail{
				width: 175px;
				float: left;
				margin-right: 20px;
			}
		}
	}
}

/*********************
HEADER STYLES
*********************/

.page-header{
	padding: 1.5rem 0;
	text-align: inherit;
	background: url(../images/general/header-background.png) left top repeat;
	@include back-size();
	
	.logo-link{
		
		.main-logo{
			max-width: 80px;	
		}
	}
	
	#toggle{
		display: none;
	}
	
	.main-menu{
		display: block;
		
		#menu-main-menu{
			padding-top: 10px;
			li{
				
				a{
					border-bottom: none;
				}
			}
		}
	}
}





/*********************
NAVIGATION STYLES
*********************/

#homepage{
	//padding: 2rem 0;

	.carousel{
		height: 450px;
		
		.carousel-intro{
			text-align: left;
			width: 40%;
			float: right;
			padding-top: 90px;
			
			h2{
				font-size: 3rem;
				margin: 0 0 0.7rem 0;
				line-height: 1;
			}
			
			p{
				margin: 0 0 0.7rem 0;
				line-height: 1.5;
				font-size: 1.2rem;
			}
		}
		
		.offer{
			display: none;
		}
	}
	
	.products{
		margin: 0;
		
		li{
			
		}
	}
	
	.last-product{
		
		.products{
			
			li{
				border-right: none;
				img{}
				
			}
		}
	}
}


.related{
	
	h2{
	margin: 0 0 1rem 0;
	
	}
	
	.products{
		width: 100%;
		
		li.product{
			width: 24% !important;
			margin: 0 1% 0 0 !important;
		}
	}
}

.bxslider{
	
	.slide{
		height: 400px;
		
		.slide-content{
			padding-top: 8rem;
				
			h2{
				font-size: 1.8rem;
			}
			
			p{
				font-size: 1.2rem;
			}
		}
	}
}


/* Creazzo Custom */

.customWrap{
	background: $white;
	padding: 0.5rem;
	
	.customHeader{
		
		h2{
			font-size: 1.8rem;
			padding: 2rem 0;
			margin-bottom: 1rem;
			
			&:after{
				width: 150px;
				height: 5px;
				margin-left: -75px;
			}
		}
	}
	
	.customImg{
		width: 100%;
		max-width: 800px;
		height: auto;
		margin: auto;
	}
	
	.customIntro{
		max-width: 800px;
		margin: auto;
		text-align: center;
		
		p{}
	}
	
	.customForm{
		
		p, ul{
			border: 3px solid black;
			margin: 0 0 0.5rem 0;
			padding: 0.5rem;
		}
	}
	
	.orderTitle{
		padding: 1rem 0;
	}
	
	.customOrderForm_wrapper{
		
		.customOrderForm{
			
			.gform_fields{
				
				.gfield{
					width: 49%;
					float: left;
					clear: none;
					margin-right: 1%;
					
					input{
						border: 3px solid black;
						padding: 0.7rem;
					}
					
					&:nth-child(2n+2){
						margin-right: 0;
						float: right;
						margin-left: 1%;
						
						&:after{
							content: "";
							display: table;
							clear: both;
						}
					}
				}
			}
		}
		
		.gform_footer{
			margin-top: 0;
			
			.button{
				width: 49%;
				color: $white;
				border: 0;
				background: #f13b1d;
				
				&:hover{
					background: darken(#f13b1d, 5%);
				}
			}
		}
	}
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
	height: 49px;
}


#outer-wrap{
	
	#kitpage{
		padding-top: 1em;
		
		.intro-text{
			padding-top: 1rem;
			
			h1{
				font-size: 32px;
				margin: 1rem 0;
			}
			
			h2{
				font-size: 24px;
				margin-bottom: 1rem;
			}
			
			h3{
				font-size: 20px;
			}
			
			p{
			}
		}
	}
	
	#contactpage{
		
		.intro-text{
			
			h1{
				font-size: 32px;
			}
			
			h3{
				font-size: 20px;
				margin: 1rem 0 0.2rem 0;
			}
			
			p{
				margin: 0 0 1rem 0;
			}
		}
		
		.cntctfrm_contact_form{
			margin-top: 0;
		}
	}
	
	.contact-btn{
		padding: 1rem 1.4rem;
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

#main-sidebar{
	margin-top: 2rem;
	
	h2{
		font-size: 1.3rem;
	}
}



/*********************
FOOTER STYLES
*********************/

.page-footer{
	padding: 2rem 0;
	
	p{
		text-align: left;
	}
	
	.social-links{
		text-align: right;
	}
}



