/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

html{
	
}

body {
	@include font-body;
	color: $font;
	-webkit-font-smoothing: antialiased;
}


/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.5;
}

img{
	display: block;
}

.gen-btn{
	background: $red;
	padding: 0.5rem 1rem;
	display: inline-block;
	color: $white;
	@include font-header;
	text-decoration: none;
	
	&:hover{
		text-decoration: none;
	}
}

.intro-text{
	padding: 3rem 1rem 0 1rem;
}




/*********************
LINK STYLES
*********************/

a, a:visited {
	//color: $link-color;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;
	margin: 0;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(25);
}

h2, .h2 {	
	@include font-size(21);
}

h3, .h3 {
	@include font-size(18);
}

h4, .h4 {
	@include font-size(16);
}

h5, .h5 {
	@include font-size(13);
}


/*********************
HEADER STYLES
*********************/

.page-header{
	background: $color--creazzo;
	padding: 1rem 0;
	text-align: left;
	position: relative;
	
	.logo-link{
		display: inline-block;
		margin-left: 1rem;
		
		.main-logo{
			max-width: 75px;	
			display: inline-block;
		}	
	}
	
	#toggle{
		display: block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		line-height: 50px;
		padding: 0 1rem;
		color: $white;
		position: absolute;
		right: 35px;
		top: 30px;
		text-indent: -9999px;
		z-index: 100000;
	}
	
	#toggle span:after,
	#toggle span:before{
	  content: "";
	  position: absolute;
	  left: 0;
	  top: -9px;
	}
	
	#toggle span:after{
		top: 9px;
	}
	
	#toggle span{
	  position: absolute;
	  display: block;
	  top: 23px;
	  left: 10px;
	}
	
	#toggle span,
	#toggle span:after,
	#toggle span:before {
	  width: 30px;
	  height: 5px;
	  background-color: $white;
	  backface-visibility: hidden;
	}
	
	.main-menu{
		display: none;
		
		#menu-main-menu{
			text-align: center;
			
			li{
				@include font-header;
				
				a{
					color: $white;
					text-decoration: none;
					border-bottom: 1px solid lighten($black, 15%);
					display: block;
					padding: 0.5rem 0;
					
					&:hover{
						text-decoration: none;
					}
				}
				
				&.current_page_parent{
					
					a{
						/* border-bottom: 5px solid $white; */
					}
				}
				
				.sub-menu{
					margin: 0;
					
					li{
						
						a{
							color: #999;
						}
					}
				}
			}
		}
	}
}

.flag{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 7px;
	
	li{
		width: 33.3333333%; 
		height: 7px;
		float: left;
	
		&.green{background: $green;}
		&.white{background: $white;}
		&.red{background: $red;}
	}
}


/*********************
NAVIGATION STYLES
*********************/


#homepage{
	padding: 1rem 0;
	text-align: center;

	.carousel{
		width: 100%;
		height: 200px;
		@include back-size(cover);
		background-position: center center;
		background-repeat: no-repeat;
		
		.carousel-intro{
			text-align: left;
			width: 50%;
			float: right;
			padding-top: 30px;
			
			h2{
				font-size: 1.2rem;
				color: $white;
				margin: 0 0 0.2rem 0;
			}
			
			p{
				margin: 0 0 0.2rem 0;
				line-height: normal;
			}
		}
		
		.offer{
			display: none;
		}
	}

	.products{
		margin: 0;
		
		li{
			margin: 0;
			padding-bottom: 30px;
			
			img{
				margin: 0;
				@include box-shadow(0,0,0,0);
			}
			
			h3{
				padding: 0;
				background: $white;
				padding: 5px 10px;
				color: $black;
				
				.count{
					display: none;
				}
			}
		}
	}
}

.bxslider{
	
	.slide{
		position: relative;
		height: 300px;
		@include back-size(cover);
		background-position: right top;
		
		.slide-img{
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}
		
		.slide-content{
			position: absolute;
			bottom: 15px;
			left: 0;
			text-align: left;
			width: 100%;
			padding: 0.5rem;
			@include alpha-background-color(rgba(black, 0.5), white);
			
			h2{
				font-size: 1.2rem;
				color: $white;
				margin: 0 0 0.2rem 0;
			}
			
			p{
				margin: 0 0 0.2rem 0;
				line-height: normal;
				color: $white;
			}
		}
	}
}

.bxslider2{
	
	li{
		
		a{
			
			h3{
				//margin-top: -25px !important;
			}
		}
	}
}


/*********************
WOOCOMMERCE
*********************/

.woocommerce{

	.woocommerce-breadcrumb{
		margin-top: 1em;
	}
	
	.entry-summary{
		
		.product_title{
			font-size: 20px;
		}
	}
	
	.related{
		margin-top: 2rem;
		
		h2{
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
}

.woocommerce div.product div.images, .woocommerce div.product div.summary{
	margin-bottom: 0;
}

.products{
	
	.type-product{
		border: 1px solid #d8d8d8;
		text-align: center;
		//background: #eaeaea;
		padding: 5px !important;
		
		a{
			
			img{
				
			}
			
			h3{
				color: $black;
			}
		}
	}
}


.woocommerce ul.products li.product a span, .woocommerce-page ul.products li.product a span,
.woocommerce ul.products li.product a span:hover, .woocommerce-page ul.products li.product a span:hover,
.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a,
.woocommerce ul.products li.product a:hover, .woocommerce-page ul.products li.product a:hover,
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a img:hover, .woocommerce-page ul.products li.product a img:hover{
	@include box-shadow(0, 0, 0, transparent);
}

.woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button{
	border: none;
	padding: 10px 15px;
	color: $white;
	font-weight: normal;
	@include css-gradient($green, $green);
	@include box-shadow(0, 0, 0, transparent);
	@include transition(all 0.2s ease-in-out);
	
	&:hover{
		@include css-gradient(darken($green, 10%), darken($green, 10%));
	}
}

.related{

	&:before{
		content: '';
		display: block;
		clear: both;
	}
}

.images .wp-post-image,
.thumbnails .attachment-shop_thumbnail{
	border: 1px solid #d8d8d8;	
}

.woocommerce div.product form.cart .button{
	background: $green;
	padding: 1em 1.2em;
	@include transition(all 0.2s ease-in-out);
	
	&:hover{
		background: darken($green, 10%);
	}
}

.woocommerce .quantity .qty{
	padding: 0.8em;
}

/*********************
NEWS STYLES
*********************/

.newsWrap{
	margin-top: 0;
	
	h2{
		margin-bottom: 1rem;
	}
	
	.post{
		border-top: 1px solid #c2c2c2;
		padding-top: 1rem;
		
		.article-header{
			
			h3{
				margin-bottom: 1rem;
				a{
					
				}
			}
		}
		
		.entry-content{
			
			.postThumbnail{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

#main-sidebar{
	margin-top: 1rem;
	
	h2{
		font-size: 1.2rem;
	}
	
	.widget{
		margin-bottom: 1rem;
		
		.product-categories{
			
			.cat-item{
				width: 100%;
				@include transition(all 0.2s ease-in-out);
					
				a{
					display: inline-block;
					background: $lgrey;
					color: $black;
					padding: 0.7rem 1rem;
					display: block;
					margin-bottom: 0.5rem;
					border: 1px solid #d8d8d8;
					
					&:hover{
						background: $red;
						color: $white;
						
						a{
							color: $white;
						}
					}
				}
				
				&.cat-parent{
						
					a{
						margin: 0;
						border-bottom: none;
					}
				}
				
				.children{
					margin: 0;
					
					li a{
						border-top: 0;
						padding-left: 1.5rem;
						background: darken($lgrey, 5%);
						border-bottom: 1px solid #d8d8d8;
						
						&:hover{
							background: $red;
							color: $white;
							
							a{
								color: $white;
							}
						}
					}
				}
				
				.count{
					display: none;
				}
				
				
			}
		}
	}
	
	.woocommerce-product-search{
	
		label{
			display: block;
		}
		
		.search-field{
			-webkit-appearance:none;
			border: none;
			width: 64%;
			border: 1px solid #d8d8d8;
			padding: 0.7rem 3%;
			font-size: 15px;
			float: left;
			background: $lgrey;
			outline: none;
			@include border-radius(0);
		}
		
		input[type="submit"]{
			border: none;
			width: 29%;
			border: 1px solid $black;
			padding: 0.7rem 0;
			font-size: 15px;
			background: $black;
			color: $white;
			text-align: center;
			outline: none;
			@include transition(all 0.2s ease-in-out);
			@include border-radius(0);
			
			&:hover{
				background: $red;
				border: 1px solid $red;
			}
		}
	}
	
	#searchform{
	}
}

#outer-wrap{
	padding: 0 0 2rem 0;
	
	#kitpage{
		padding-top: 1em;
		
		.intro-text{
			padding-top: 1rem;
			
			h1{
				font-size: 28px;
				margin-bottom: 1rem;
			}
			
			h2{
				font-size: 18px;
				margin-bottom: 1rem;
			}
			
			h3{
				font-size: 16px;
				margin-bottom: 0.2rem;
			}
			
			p{
				margin: 0 0 1.5rem 0;
			}
		}
	}
	
	#contactpage{
		
		.intro-text{
			
			h1{
				font-size: 28px;
				margin-bottom: 0.5rem;
			}
			
			h3{
				font-size: 20px;
				margin: 1rem 0 0.2rem 0;
			}
			
			h4{
				font-size: 1rem;
				margin-bottom: 0.2rem;
				font-weight: normal;
				color: $black;
			}
			
			p{
				margin: 0 0 1rem 0;
			}
		}
		
		.cntctfrm_contact_form{
			margin-top: 2rem;
		}
	}
	
	.contact-btn{
		background: $red;
		color: $white;
		padding: 0.8rem 1.2rem;
		text-decoration: none;
		display: inline-block;
		
		&:hover{
			background: darken($red, 10%);
		}
	}
}



/*********************
FOOTER STYLES
*********************/

.page-footer{
	background: $black;
	padding: 1rem 0;
	text-align: center;
	
	p{
		color: $white;
	}
	
	.social-links{
		padding: 0;
		margin: 0;
		text-align: center;
		
		li{
			display: inline-block;
			font-size: 2.2rem;
			margin-right: 1rem;
			text-align: center;
				
			a{
				color: $white;
				text-decoration: none;	
			}
		}
	}
}

	